.consult {
  padding: 90px 0;
  background-color: #ffffff;
  .sec_desc {
    display: none;
    @media (max-width: 556px) {
      display: block;
      font-size: 16px !important;
      font-weight: 600;
      width: 100%;
      line-height: 120%;
    }
  }
  &-row {
    display: flex;
    align-items: flex-start;
    gap: 60px;
  }
  &-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__items {
      display: flex;
      align-items: flex-start;
      gap: 60px;
      justify-content: right;
      margin: 60px 0 0 0;
    }
  }
  &-right {
    .section_title {
      display: none;
    }
    .sec_desc {
      display: none;
    }
  }
  .section_title {
    max-width: 640px;
    width: 100%;
    text-align: right;
    margin: 0 0 30px 0;
    @media (max-width: 556px) {
      margin-bottom: 16px;
    }
    span {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .sec_desc {
    max-width: 200px;
    text-align: right;
    color: #000;
    text-align: right;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  &-subtrac {
    position: absolute;
    right: -20px;
    bottom: -30px;
    z-index: 1;
  }
  &-person {
    display: flex;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    background: #e9efff;
    backdrop-filter: blur(22px);
    padding: 30px 0 0 0;
    @media (max-width: 556px) {
      padding: 0;
      background: #fff;
    }
  }
  .person {
    &-img {
      border-radius: 20px;
      max-width: 100%;
    }
    &-texts {
      position: absolute;
      z-index: 2;
      bottom: 4%;
      left: 41%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 18px;
    }
    &-img {
      &.desctop {
        @media (max-width: 556px) {
          display: none;
        }
      }
      &.mobile {
        display: none;
        @media (max-width: 556px) {
          display: block;
        }
      }
    }
    &_name {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      color: #000;
    }
    &_job {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      color: #000;
    }
  }
  &-prices {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .price-item {
    position: relative;
    display: flex;
  }
  .price-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    left: 36px;
    top: 36px;
    @media (max-width: 556px) {
      gap: 15px;
      position: absolute;
      left: 25px;
    }
  }
  .price-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: #000;
    @media (max-width: 556px) {
      letter-spacing: 0.3px;
    }
  }
  .price-count {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #7f98cf;
  }
  .old-price {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: line-through;
    color: #8b8b8b;
  }
  @media (max-width: 1400px) {
    &-row {
      gap: 32px;
    }
    &-left {
      width: calc(68% - 16px);

      &__items {
        gap: 30px;
        flex-direction: column;
        @media (max-width: 556px) {
          gap: 15px;
        }
      }
    }
    &-right {
      width: calc(32% - 16px);
    }
  }
  @media (max-width: 1200px) {
    .price-item {
      img {
        width: 100%;
      }
    }
    .price-texts {
      top: 50%;
      transform: translate(0, -50%);
      @media (max-width: 556px) {
        transform: translate(0, -55%);
      }
    }
  }
  @media (max-width: 992px) {
    padding: 60px 0;
    &-row {
      flex-direction: column-reverse;
    }
    &-left {
      width: 100%;
      align-items: flex-start;

      .section_title,
      .sec_desc {
        display: none;
      }
      &__items {
        margin: 0;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .section_title,
      .sec_desc {
        display: block;
        max-width: 100%;
      }
      .sec_desc {
        margin: 0 0 32px 0;
      }
    }
    &-prices {
      gap: 24px;
    }
  }
  @media (max-width: 768px) {
    border-radius: 32px;
  }
  @media (max-width: 576px) {
    padding: 32px 0;

    &-row {
      gap: 16px;
      @media (max-width: 556px) {
        gap: 10px;
      }
    }
    &-prices {
      gap: 16px;
      @media (max-width: 556px) {
        gap: 8px;
      }
    }
    .price-title {
      br {
        display: none;
      }
    }
  }

  @media (min-width: 576px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
}
