.experts{
    padding: 90px 0;
    background: #F8F8F8;    
    .title_row{
        display: flex;
        align-items: end;
        gap: 20px;
        justify-content: space-between;
        .left_side{
            max-width: 640px;
            display: flex;
            flex-direction: column;
            gap: 36px 0;
            .item_description{
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 24px */                
            }
        }
        .right_side{
            display: flex;
            flex-direction: column;
            gap: 12px 0;
            position: relative;
            border-radius: 30px;
            max-width: 322px;
            height: 100%;
            max-height: 270px;    
            padding: 113px 36px 36px 36px;      
            .item_img{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .item_title{
                position: relative;
                z-index: 2;
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%; /* 26px */                
            }
            .item_description{
                color: #000;
                position: relative;
                z-index: 2;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 19.2px */                
            }
        }
    }
    .item_adv{
        display: flex;
        justify-content: space-between;
        gap: 10px 20px;
        margin: 60px 0;
        flex-wrap: wrap;
        li{
            display: flex;
            align-items: center;
            gap: 0 12.64px;
            width: 100%;
            max-width: 406.6px;
            height: 100%;
            padding: 24px;
            border-radius: 20px;
            background: #FFF;
            backdrop-filter: blur(22px); 
            img{
                width: 32px;
                height: 32px;                
            }
            p{
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 19.2px */                
            }           
        }
    }
}