header {
  .lc_row {
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
    @media (max-width: 556px) {
      gap: 10px;
    }
    .header_logo {
      max-width: 198px;
      max-height: 54px;
      @media (max-width: 556px) {
        max-width: 40%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .header_actions {
      display: flex;
      max-width: 550px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 0 20px;
      @media (max-width: 992px) {
        max-width: fit-content;
      }
      @media (max-width: 556px) {
        gap: 0 18px;
      }
      .header_info {
        display: flex;
        align-items: center;
        gap: 0 24px;
        @media (max-width: 992px) {
          display: none;
        }
        .header_phone {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 19.2px */
        }
        .header_time {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
        }
      }
      .header_menu {
        display: flex;
        svg {
          width: 22px;
          height: 15.231px;
        }
      }
    }
    .white_btn {
      @media (max-width: 992px) {
        margin-left: auto;
      }
      @media (max-width: 556px) {
        padding: 12px 16px;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        border-radius: 12px;
        height: fit-content;
      }
    }
  }
}
