.hero {
  padding: 30px 0 106px 0;
  @media (max-width: 992px) {
    padding-top: 32px;
  }
  @media (max-width: 556px) {
    padding-bottom: 32px;
  }
  .container {
    position: relative;
    padding: 0 16px;
  }
  .lc_row {
    justify-content: space-between;
    width: 100%;
    .left_side {
      position: absolute;
      left: 16px;
      top: -55px;
      max-width: 640px;
      width: 100%;
      height: 838px;
      overflow: hidden;
      @media (max-width: 1400px) {
        max-width: 520px;
      }
      @media (max-width: 1200px) {
        height: 790px;
      }
      @media (max-width: 1240px) {
        width: 100%;
        max-width: calc(50% - 15px);
      }
      @media (max-width: 1024px) {
        max-width: 100%;
        position: relative;
        top: 35px;
        left: 0;
      }
      @media (max-width: 556px) {
        height: auto;
      }
      .item_img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        overflow: hidden;

        @media (max-width: 1024px) {
          max-width: 100%;
        }
        video {
          width: auto;
          height: 100%;

          @media (max-width: 1024px) {
            width: 100%;
            height: auto;
            aspect-ratio: unset;
          }
        }
        &.desctop {
          display: flex;
          clip-path: path(
            "M610 0C626.569 0 640 13.4315 640 30V808C640 824.569 626.569 838 610 838H291.024C274.456 838 261.024 824.569 261.024 808V571.297C261.024 554.728 247.593 541.297 231.024 541.297H30C13.4315 541.297 0 527.865 0 511.297V114.327C0 97.7586 13.4315 84.3271 30 84.3271H216.767C233.335 84.3271 246.767 70.8957 246.767 54.3271V30C246.767 13.4315 260.198 0 276.767 0H610Z"
          );
          @media (max-width: 1024px) {
            // display: none;
            clip-path: path(
              "M352.656 0C362.235 0 370 7.76506 370 17.3438V466.656C370 476.235 362.235 484 352.656 484H220.777C211.199 484 203.434 476.235 203.434 466.656V278.617C203.434 269.038 195.669 261.273 186.09 261.273H17.3437C7.76506 261.273 0 253.508 0 243.93V66.0479C0 56.4692 7.76506 48.7041 17.3438 48.7041H125.318C134.897 48.7041 142.662 40.939 142.662 31.3604V17.3438C142.662 7.76506 150.427 0 160.006 0H352.656Z"
            );
          }
        }
        &.mobile {
          display: none;
          @media (max-width: 1024px) {
            // display: block;
          }
        }
      }
      .all_on {
        position: absolute;
        right: 30px;
        top: 30px;
        border-radius: 20px;
        background: #fff;
        backdrop-filter: blur(22px);
        padding: 19.07px 19.07px 19.4px 19.07px;
        max-width: 240px;
        @media (max-width: 992px) {
          right: 17.5px;
          top: 17.5px;
          padding: 15px;
          max-width: 189px;
          border-radius: 12.56px;
        }
        @media (max-width: 556px) {
          top: 13.5px;
        }
        @media (max-width: 400px) {
          max-width: 151px;
        }

        .item_img {
          width: 100%;
          height: 100%;
          border-radius: 17.483px;
          background: #e9efff;
          padding: 12.715px 17.483px 12.715px 17.484px;
          margin-bottom: 13.51px;
          max-height: 142.252px;
          overflow: hidden;

          @media (max-width: 992px) {
            margin-bottom: 10px;
            padding: 10px 13px;
          }
          @media (max-width: 556px) {
            max-height: 113.252px;
          }
          img {
            height: 100%;
            width: 100%;
            max-width: 166.887px;
            max-height: 116.821px;
          }
        }
        .item_text {
          display: flex;
          flex-direction: column;
          gap: 4.77px 0;
          .item_title,
          .item_name {
            color: #000;
            font-size: 20.09px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            @media (max-width: 992px) {
              font-size: 16px;
            }
          }
          .item_name {
            font-weight: 400;
            font-size: 12.71px;
          }
        }
      }
      .item_seans {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 16px 0;
        max-width: 262px;
        align-items: start;
        @media (max-width: 1024px) {
          left: 0px;
          bottom: 0px;
          gap: 12px 0;
          width: 100%;
          max-width: calc(50% - 15px);
        }
        @media (max-width: 556px) {
          bottom: 9px;
          max-width: calc(55% - 15px);
        }
        @media (max-width: 400px) {
          max-width: calc(54% - 15px);
        }
        li {
          display: flex;
          align-items: center;
          gap: 0 13.2px;
          padding: 18px 18px 18px 21px;
          border-radius: 20px;
          background: #f6f6f6;
          width: max-content;
          min-height: 68px;
          @media (max-width: 1024px) {
            padding: 16.23px;
            width: 100%;
            gap: 11px;
          }
          @media (max-width: 556px) {
            min-height: 61px;
            border-radius: 18px;
          }
          @media (max-width: 400px) {
            padding: 8px 16px;
            min-height: 55px;
          }
          @media (max-width: 375px) {
            padding: 6px 16px;
            min-height: 48px;
          }

          span {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            @media (max-width: 576px) {
              font-size: 14px;
            }
          }
        }
      }
    }
    .right_side {
      max-width: 550px;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      margin-top: 35.18px;
      width: 100%;
      @media (max-width: 1240px) {
        max-width: calc(50% - 15px);
      }
      @media (max-width: 1024px) {
        max-width: 100%;
      }
      @media (max-width: 556px) {
        margin-top: 27px;
      }
      h2 {
        color: #000;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        max-width: 424px;
        @media (max-width: 1200px) {
          font-size: 45px;
        }
        &.mobile_none {
          @media (max-width: 1024px) {
            display: none;
          }
        }
      }
      h2 span {
        color: #4060aa;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        @media (max-width: 1200px) {
          font-size: 45px;
        }
      }
      .item_text {
        margin-top: 6px;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 60px;
        @media (max-width: 1200px) {
          margin-bottom: 32px;
        }
      }
      .promotion {
        display: flex;
        gap: 0 16px;
        @media (max-width: 1200px) {
          gap: 8px;
        }
        @media (max-width: 1024px) {
          margin-top: 16px;
          flex-direction: column-reverse;
        }
        @media (max-width: 556px) {
          gap: 16px;
        }
        .left_item {
          display: flex;
          flex-direction: column;
          gap: 16px 0;
          max-width: 270.23px;
          @media (max-width: 1200px) {
            max-width: 100%;
          }

          .promo_item {
            padding: 32px 24px;
            width: 100%;
            border-radius: 20px;
            background: rgba(239, 239, 239, 0.45);
            backdrop-filter: blur(22px);
            @media (max-width: 556px) {
              padding: 16px 24px;
            }
            .item_name {
              color: #000;
              margin-bottom: 12px;
              font-size: 25.28px;
              font-style: normal;
              font-weight: 700;
              line-height: 130%;
              @media (max-width: 556px) {
                color: #000;
                font-size: 21px;
                br {
                  display: none;
                }
              }
            }
            .item_description {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              margin-bottom: 32px;
              @media (max-width: 556px) {
                font-size: 14px;
                margin-bottom: 24px;
              }
            }
            .item_const {
              display: flex;
              flex-direction: column;
              gap: 16px 0;

              li {
                width: 100%;
                display: flex;
                gap: 0 12.64px;
                align-items: center;
                span {
                  color: #000;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 120%;
                  @media (max-width: 556px) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .blue_btn {
            height: 70px;
            background: #4060aa;
            border: none;
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            width: 100%;
            @media (max-width: 556px) {
              padding: 24px 32px;
            }
          }
        }
        .right_item {
          width: 100%;
          max-width: 263.76px;
          display: flex;
          flex-direction: column;
          gap: 16px 0;

          @media (max-width: 1200px) {
            max-width: 100%;
          }
          .item_money {
            display: flex;
            flex-direction: column;
            gap: 12.64px 0;
            width: 100%;
            border-radius: 20px;
            background: #e9efff;
            backdrop-filter: blur(22px);
            padding: 24px;
            @media (max-width: 556px) {
              padding: 14px 24px;
            }
            span {
              color: #000;
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%;
            }
            span:last-child {
              color: #8b8b8b;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 130%; /* 18.2px */
              text-decoration-line: line-through;
            }
          }
          .item_person {
            display: flex;
            max-width: 100%;
            max-height: 299px;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .item_person.mobile_none {
          @media (max-width: 1024px) {
            display: none;
          }
        }
      }
    }
    .mobile_show {
      order: -1;
      display: none;
      @media (max-width: 1024px) {
        display: flex;
        margin-top: 28px;
        flex-direction: column;
        gap: 0px;
      }
      h2 {
        color: #000;
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        @media (max-width: 390px) {
          font-size: 40px;
        }
        span {
          color: #4060aa;
          display: block;
          text-align: right;
        }
      }
      .item_text {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-align: left;
        @media (max-width: 556px) {
          padding-top: 6px;
        }
      }
    }
    .mobile_none {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}
