.inclusive {
  padding: 90px 0 90px 0;
  @media (max-width: 768px) {
    padding: 32px 0 32px 0;
  }

  .title_info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
    margin-bottom: 63.18px;
    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
    }

    @media (max-width: 576px) {
      flex-direction: column;
      gap: 32px;
      margin-bottom: 16px;
    }
    .section_title {
      max-width: 679px;
      span {
        text-align: end;
        display: block;
        width: 100%;
        max-width: 640px;
        @media (max-width: 556px) {
          text-align: left;
          max-width: 244px;
        }
      }
    }
    .countrys_item {
      position: relative;
      padding: 113.75px 36px 36px 36px;
      display: flex;
      flex-direction: column;
      gap: 32px 0;
      max-width: 322px;
      width: 100%;
      height: 100%;
      max-height: 270px;
      @media (max-width: 576px) {
        max-width: 100%;
        max-height: 220px;
        padding: 71px 24px 35px;
      }
      .item_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          @media (max-width: 576px) {
            object-fit: cover;
          }
          &.desktop {
            @media (max-width: 576px) {
              display: none !important;
            }
          }
          &.mobile {
            display: none;
            @media (max-width: 576px) {
              display: block;
              border-radius: 30px;
            }
          }
        }
      }

      .item_title {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        position: relative;
        z-index: 2;
        @media (max-width: 576px) {
          font-size: 14px;
        }
      }
      .flags {
        display: flex;
        align-items: stretch;
        gap: 0 17.86px;
        position: relative;
        z-index: 2;
        li {
          img {
            width: 49.107px;
            height: 31.25px;
          }
        }
      }
    }
  }
  .lc_row {
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    @media (max-width: 556px) {
      gap: 14px;
    }

    .stage_item {
      padding: 36px;
      max-width: calc(56% - 15px);
      position: relative;
      width: 100%;
      border-radius: 30px;
      border: 1px solid #f5f5f5;
      background: #f8f8f8;
      @media (max-width: 992px) {
        width: 100%;
        max-width: 100%;
        padding: 24px;
      }
      &:last-child {
        max-width: 550px;
        border-radius: 30px;
        border: 1px solid #f5f5f5;
        background: #e9efff;
        max-width: calc(44% - 15px);
        @media (max-width: 992px) {
          max-width: 100%;
        }
        @media (max-width: 556px) {
          margin-top: 0;
        }
        li:first-child span {
          word-break: break-all;
          max-width: 90px !important;
        }
        .item_number {
          @media (max-width: 556px) {
            margin-top: 0;
          }
        }
        .item_title {
          margin-bottom: 16.5px;
        }
        .item_description {
          margin-bottom: 32px;
          @media (max-width: 556px) {
            margin-bottom: 21px;
          }
        }
        .methods {
          width: 100%;
          height: 100%;
          max-height: 157.64px;
          margin-bottom: 19px;
          @media (max-width: 1240px) {
            max-height: fit-content;
            height: fit-content;
          }
          .method_item {
            max-width: 100%;
            width: 100%;
            justify-content: space-between;
            @media (max-width: 1240px) {
              gap: 18px;
            }
            @media (max-width: 556px) {
              padding: 22px 16px;
            }
            .left_side {
              max-width: 218px;
              @media (max-width: 1240px) {
                max-width: 100%;
                text-align: center;
              }
              @media (max-width: 992px) {
                text-align: left;
              }
              .method_name {
                padding: 18px 0 0 0;
                margin-bottom: 30.36px;
                @media (max-width: 556px) {
                  padding-top: 4px;
                  margin-bottom: 14px;
                }
              }
            }
          }
        }
        .pay_informations {
          li {
            border-color: #e2e2e2;
          }
        }
        .item_img {
          img {
            @media (max-width: 556px) {
              margin-top: -16px !important;
            }
          }
        }
      }
      .valid_item {
        position: absolute;
        top: 32px;
        right: 36px;
        padding: 4px 12px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        border-radius: 8px;
        background: #4060aa;
        @media (max-width: 992px) {
          top: 24px;
        }
        @media (max-width: 768px) {
          right: 26px;
          color: #fff;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
      }
      .item_number {
        color: #4060aa;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 17px;
        @media (max-width: 556px) {
          color: #4060aa;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          margin-top: 5px;
        }
      }
      .item_title {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 13.5px;
        @media (max-width: 992px) {
          font-size: 21px;
          margin-bottom: 16px;
        }
      }
      .item_description {
        display: flex;
        align-items: center;
        gap: 0 12px;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 35px;
        @media (max-width: 992px) {
          font-size: 14px;
          flex-direction: row-reverse;
          gap: 12px;
          margin-bottom: 24px;
        }
        @media (max-width: 556px) {
          justify-content: start;
        }
      }
      .methods {
        display: flex;
        gap: 0 16px;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 16px;
        height: 100%;
        max-height: 164px;
        flex: 0 0 auto;
        @media (max-width: 1240px) {
          flex: auto 1 1;
          height: fit-content;
          max-height: fit-content;
        }
        @media (max-width: 992px) {
          flex-direction: column;
          width: 100%;
          gap: 16px;
        }
        .method_item {
          display: flex;
          padding: 24px;
          gap: 0 16px;
          border-radius: 20px;
          background: #fff;
          backdrop-filter: blur(22px);
          @media (max-width: 1240px) {
            flex-direction: column;
            align-items: center;
            width: 50%;
            gap: 18px;
          }
          @media (max-width: 992px) {
            flex-direction: row;
            width: 100%;
            align-items: stretch;
            gap: 15px;
          }
          @media (max-width: 556px) {
            padding: 24px 16px;
          }
          &:last-child {
            .right_side {
              max-width: 110px;
              .item_img {
                max-height: 76px;
              }
            }
          }
          .left_side {
            display: flex;
            flex-direction: column;
            max-width: 132px;
            @media (max-width: 1240px) {
              max-width: 100%;
              text-align: center;
            }
            @media (max-width: 992px) {
              text-align: left;
            }

            .method_number {
              color: #858585;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              margin-bottom: 12.64px;
            }
            .method_name {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              margin-bottom: 22.36px;
              @media (max-width: 992px) {
                font-size: 14px;
              }
              @media (max-width: 556px) {
                font-size: 16px;
              }
            }
            .method_price {
              color: #000;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%;
            }
          }
          .right_side {
            max-width: 104px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 19.5px;
            align-items: end;
            .item_img {
              width: 100%;
              height: 100%;
              max-height: 73px;
              img {
                width: 100%;
                height: 100%;
                @media (max-width: 556px) {
                  margin-top: 0px;
                }
              }
            }
            .old_price {
              color: #858585;
              font-family: Manrope;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 19.2px */
              text-decoration-line: line-through;
            }
          }
        }
      }
      .pay_time {
        display: flex;
        gap: 0 16px;
        align-items: center;
        margin-bottom: 36px;
        @media (max-width: 556px) {
          margin-bottom: 22px;
          gap: 12px;
        }
        & > p {
          @media (max-width: 556px) {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
          }
        }
        .pay_item {
          padding: 8px 12px;
          border-radius: 8px;
          background: #e9efff;
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          @media (max-width: 556px) {
            font-size: 12px;
          }
          &.light {
            border-radius: 8px;
            background: #fff;
          }
        }
      }
      .pay_informations {
        display: flex;
        flex-direction: column;
        gap: 18px 0;
        @media (max-width: 556px) {
          gap: 19px 0;
        }
        li {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          padding-bottom: 18px;
          border-bottom: 1px solid #ededed;
          align-items: center;
          &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
          }
          .pay_info {
            display: flex;
            align-items: center;
            gap: 0 16px;
            img {
              width: 32px;
              height: 32px;
            }
            span {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              @media (max-width: 556px) {
                font-size: 14px;
                max-width: 106px;
              }
            }
          }
          .pay_adv {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            @media (max-width: 556px) {
              font-size: 14px;
              max-width: 128px;
              text-align: right;
            }
          }
        }
      }
    }
  }
  .container:last-child {
    margin-top: 60px;
    @media (max-width: 556px) {
      margin-top: 32px;
    }
    .section_title {
      margin-bottom: 60px;
      @media (max-width: 556px) {
        margin-bottom: 32px;
        br {
          display: none;
        }
      }
    }
    .calculation_row {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 20px;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        align-items: center;
        justify-content: center;
        gap: 16px;
      }

      .item_time {
        position: relative;
        width: 100%;
        max-width: 322px;
        padding: 32px 45px 32px 32px;
        height: 275px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 556px) {
          font-size: 14px;
          gap: 31px;
          order: -1;
          max-width: 100%;
          height: 200px;
          padding-left: 24px;
        }
        .item_img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          img {
            width: 100%;
            height: 100%;
            &.desktop {
              @media (max-width: 556px) {
                display: none;
              }
            }
            &.mobile {
              display: none;
              @media (max-width: 556px) {
                display: block;
              }
            }
          }
        }
        .item_title {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */
          position: relative;
          z-index: 2;
          @media (max-width: 556px) {
            font-size: 14px;
          }
        }
        .lc_row {
          display: flex;
          justify-content: space-between;
          gap: 10px 20px;
          position: relative;
          z-index: 2;
          @media (max-width: 992px) {
            flex-direction: row;
          }
          @media (max-width: 556px) {
            max-width: 245px;
          }
          .time_item {
            display: flex;
            flex-direction: column;
            gap: 12px 0;
            .item_hour {
              color: #000;
              text-align: center;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: 120%;
            }
            .item_name {
              color: #000;
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%; /* 19.2px */
            }
          }
        }
      }
      .item_contact {
        height: 270px;
        width: 100%;
        max-width: 322px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 95px 68px 36px 36px;
        @media (max-width: 556px) {
          padding: 54px 24px 36px;
          max-width: 100%;
          height: fit-content;
        }
        .item_img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            &.desktop {
              @media (max-width: 556px) {
                display: none;
              }
            }
            &.mobile {
              display: none;
              @media (max-width: 556px) {
                display: block;
              }
            }
          }
        }
        .item_title {
          position: relative;
          z-index: 2;
          color: #000;
          margin-bottom: 18px;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: 0.5px;
        }
        p {
          color: #000;
          margin-bottom: 12px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          position: relative;
          z-index: 2;
          @media (max-width: 556px) {
            font-size: 14px;
          }
        }
        .last_item {
          margin-bottom: 18px;
        }
        a {
          color: #4060aa;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 28.8px */
          position: relative;
          z-index: 2;
          @media (max-width: 768px) {
            font-size: 21px;
          }
        }
      }
      .final_calculation {
        @media (max-width: 992px) {
          max-width: 100%;
        }
        @media (max-width: 556px) {
          padding: 27px 24px;
        }
        input {
          @media (max-width: 556px) {
            padding-bottom: 23px;
          }
        }
      }
    }
  }
}
