.inclusive{
    padding: 90px 0 90px 0;
    .title_info{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: end;
        margin-bottom: 63.18px;
        .section_title{
            max-width: 679px;
            span{
                text-align: end;
                display: block;
                width: 100%;
                max-width: 640px;
            }
        }
        .countrys_item{
            position: relative;
            padding: 113.75px 36px 36px 36px;
            display: flex;
            flex-direction: column;
            gap: 32px 0;
            max-width: 322px;
            width: 100%;
            height: 100%;
            max-height: 270px;
            .item_img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .item_title{
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 19.2px */  
                position: relative;
                z-index: 2;              
            }
            .flags{
                display: flex;
                align-items: stretch;
                gap: 0 17.86px;
                position: relative;
                z-index: 2;
                li{
                    img{
                        width: 49.107px;
                        height: 31.25px;                        
                    }
                }
            }
        }
    }
    .lc_row{
        justify-content: space-between;
        align-items: stretch;
        gap: 30px;
        .stage_item{
            padding: 36px;
            max-width: 700px;
            position: relative;
            width: 100%;
            border-radius: 30px;
            border: 1px solid #F5F5F5;
            background: #F8F8F8;  
            &:last-child{
                max-width: 550px;
                border-radius: 30px;
                border: 1px solid #F5F5F5;
                background: #E9EFFF;
                .item_title{
                    margin-bottom: 16.5px;
                }
                .item_description{
                    margin-bottom: 32px;
                }
                .methods{
                    width: 100%;
                    height: 100%;
                    max-height: 157.64px;
                    margin-bottom: 19px;
                    .method_item{
                        max-width: 100%;
                        width: 100%;
                        justify-content: space-between;
                        .left_side{
                            max-width: 218px;
                            .method_name{
                                padding: 18px 0 0 0;
                                margin-bottom: 30.36px;
                            }
                        }
                    }
                }   
                .pay_informations{
                    li{
                        border-color: #E2E2E2;
                    }
                }             
            }          
            .valid_item{
                position: absolute;
                top: 32px;
                right: 36px;
                padding: 4px 12px;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 19.2px */ 
                border-radius: 8px;
                background: #4060AA;                               
            }
            .item_number{
                color: #4060AA;
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 25.2px */
                margin-bottom: 17px;                
            }
            .item_title{
                color: #000;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 38.4px */  
                margin-bottom: 13.5px;              
            }
            .item_description{
                display: flex;
                align-items: center;
                gap: 0 12px;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 19.2px */       
                margin-bottom: 35px;         
            }
            .methods{
                display: flex;
                gap: 0 16px;
                justify-content: space-between;
                align-items: stretch;
                margin-bottom: 16px;
                height: 100%;
                max-height: 164px;
                flex: 0 0 auto;
                .method_item{
                    display: flex;
                    padding: 24px;
                    gap: 0 16px;
                    border-radius: 20px;
                    background: #FFF;
                    backdrop-filter: blur(22px);
                    &:last-child{
                        .right_side{
                            max-width: 110px;
                            .item_img{
                                max-height: 76px;
                            }
                        }
                    }                    
                    .left_side{
                        display: flex;
                        flex-direction: column;
                        max-width: 132px;
                        .method_number{
                            color: #858585;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%; /* 19.2px */
                            margin-bottom: 12.64px;                            
                        }
                        .method_name{
                            color: #000;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%; /* 19.2px */      
                            margin-bottom: 22.36px;                      
                        }
                        .method_price{
                            color: #000;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 100%; /* 24px */                            
                        }
                    }  
                    .right_side{
                        max-width: 104px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 19.5px;
                        align-items: end;
                        .item_img{
                            width: 100%;
                            height: 100%;
                            max-height: 73px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .old_price{
                            color: #858585;
                            font-family: Manrope;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%; /* 19.2px */
                            text-decoration-line: line-through;                            
                        }
                    }                  
                }
            }
            .pay_time{
                display: flex;
                gap: 0 16px;
                align-items: center;
                margin-bottom: 36px;
                .pay_item{
                    padding: 8px 12px;
                    border-radius: 8px;
                    background: #E9EFFF;
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 19.2px */                                        
                }
            }
            .pay_informations{
                display: flex;
                flex-direction: column;
                gap: 18px 0;
                li{
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    padding-bottom: 18px;
                    border-bottom: 1px solid #EDEDED;
                    align-items: center;
                    &:last-child{
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                    .pay_info{
                        display: flex;
                        align-items: center;
                        gap: 0 16px;
                        img{
                            width: 32px;
                            height: 32px;                            
                        }
                        .span{
                            color: #000;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%; /* 19.2px */
                        }
                    }
                    .pay_adv{
                        color: #000;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 19.2px */                        
                    }
                }
            }
        }
    }
    .container:last-child{
        margin-top: 60px;
        .section_title{
            margin-bottom: 60px;
        }
        .calculation_row{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: 20px;
            flex-wrap: wrap;
            .item_time{
                position: relative;
                width: 100%;
                max-width: 322px;
                padding: 32px 45px 32px 32px;
                height: 275px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .item_img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .item_title{
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%; /* 19.2px */   
                    position: relative;
                    z-index: 2;                 
                }
                .lc_row{
                    display: flex;
                    justify-content: space-between;
                    gap: 10px 20px;
                    position: relative;
                    z-index: 2;
                    .time_item{
                        display: flex;
                        flex-direction: column;
                        gap: 12px 0;
                        .item_hour{
                            color: #000;
                            text-align: center;
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%; /* 57.6px */                            
                        }
                        .item_name{
                            color: #000;
                            text-align: center;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 19.2px */                            
                        }
                    }
                }
            }
            .item_contact{
                height: 270px;
                width: 100%;
                max-width: 322px;
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 95px 68px 36px 36px;
                .item_img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                
                }
                .item_title{
                    position: relative;
                    z-index: 2;
                    color: #000;
                    margin-bottom: 18px;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 24px */                    
                }    
                p{
                    color: #000;
                    margin-bottom: 12px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%; /* 19.2px */  
                    position: relative;
                    z-index: 2;               
                }  
                .last_item{
                    margin-bottom: 18px;
                }     
                a{
                    color: #4060AA;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 28.8px */    
                    position: relative;
                    z-index: 2;                
                } 
            }
        }
    }
}