.review {
  padding: 90px 0;
  border-radius: 60px;
  background-color: #f8f8f8;

  &-row {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin: 0 0 60px 0;
  }
  .section_title {
    text-align: left;
    margin: 0 0 63px 0;

    span {
      text-align: right;
    }
  }
  &-items {
    display: flex;
    align-items: flex-start;
    gap: 46px;
    margin: 63px 0 0 0;

    .review-item:last-child {
      margin: 30px 0 0 0;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: calc(50% - 23px);
    position: relative;
    z-index: 1;

    .review-title {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      color: #000;
    }
    .review-desc {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      color: #000;
    }
    .play-btn {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      position: absolute;
      z-index: 2;
      top: 30px;
      right: 30px;
    }
    .review-img {
      max-width: 100%;
    }
  }
  &-right {
    max-width: 43%;
    width: 100%;
  }
  &-swiper {
    .review-item {
      width: 100%;
    }
    .review-title {
      font-size: 25.28px;
    }
    .swiper-nav {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
  &-ratings {
    display: flex;
    gap: 30px;

    .rating-item {
      width: calc(33.3% - 20px);
      padding: 24px;
      border-radius: 20px;
      background: #fff;
      backdrop-filter: blur(22px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    .rating-stars {
      display: flex;
      gap: 5px;
    }
    .rating-right {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      color: #000;
    }
  }

  @media (max-width: 1200px) {
    .section_title {
      margin: 0 0 40px 0;
    }

    &-row {
      margin: 0 0 40px 0;
    }
    &-items {
      margin: 40px 0 0 0;
    }
    &-ratings {
      flex-wrap: wrap;

      .rating-item {
        width: calc(40% - 15px);
      }
    }
  }
  @media (max-width: 992px) {
    padding: 60px 0;
    &-row {
      flex-direction: column-reverse;
      gap: 32px;
      margin: 0 0 32px 0;
    }
    &-left {
      width: 100%;

      .section_title,
      .sec_desc {
        display: none;
      }
    }
    &-right {
      max-width: 100%;
      width: 100%;

      .section_title,
      .sec_desc {
        display: block;
      }
    }
    &-swiper {
      margin: 32px 0 0 0;
    }
    &-items {
      margin: 0;
    }
    &-item {
      .review-img {
        width: 100%;
      }
    }
    &-ratings {
      .rating-item {
        width: calc(50% - 15px);
      }
    }
  }
  @media (max-width: 768px) {
    border-radius: 32px;

    .section_title {
      margin: 0 0 16px 0;
    }
    &-item {
      gap: 16px;
    }
    &-title {
      margin: 8px 0 0 0;
    }
    &-ratings {
      gap: 16px;

      .rating-item {
        width: 100%;
      }
    }
  }
  @media (max-width: 576px) {
    padding: 32px 0;

    &-items {
      .review-item {
        width: 100%;
      }
      .review-item:last-child {
        display: none;
      }
    }
    &-item {
      .review-title {
        font-size: 21px;
      }
      .review-desc {
        font-size: 14px;
      }
    }
    &-swiper {
      .review-title {
        font-size: 21px;
      }
    }
  }
}

.implant {
  .section_title {
    text-align: center;
    max-width: 740px;
    width: 100%;
    margin: 0;

    span {
      text-align: center;
    }
  }
  .price-item:last-child {
    .price-title,
    .price-count,
    .old-price {
      color: #fff;
    }
  }
  .consult-left {
    width: calc(72% - 30px);
  }
  .consult-right {
    width: calc(28% - 30px);
  }

  @media (max-width: 1400px) {
    .consult-row {
      gap: 32px;
    }
    .consult-left {
      width: calc(68% - 16px);
    }
    .consult-right {
      width: calc(32% - 16px);
    }
  }
  @media (max-width: 992px) {
    .consult-row {
      flex-direction: column-reverse;
    }
    .consult-left {
      width: 100%;
    }
    .consult-right {
      gap: 32px;
      width: auto;

      .section_title {
        text-align: left;

        span {
          text-align: right;
        }
      }
    }
  }
  @media (max-width: 576px) {
    .consult-row {
      gap: 16px;
    }
  }
}

.question {
  margin: 60px 0 0 0;
  padding: 60px;
  position: relative;
  width: 100%;
  z-index: 1;

  &-subtrac {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height: 100%;
    z-index: -1;
  }
  &-step {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #4060aa;
  }
  &-desc {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #000;
    margin: 0 0 32px 0;
  }
  &-progress {
    display: flex;
    width: 100%;
    margin: 0 0 32px 0;
    background-color: #e9efff;

    .progress-bar {
      display: flex;
      height: 2px;
      transition: 0.3s all ease;
      background-color: #4060aa;
      width: 0%;
    }
  }
  &-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
  }
  &-scroll {
    overflow: hidden;
    width: 100%;
  }
  &-wrap {
    width: 100%;
    display: flex;
    transition: 0.3s all ease;
  }
  &-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
  }
  &-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: #000;
    margin: 0 0 32px 0;
  }
  .answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;

    &-item {
      display: flex;
      align-items: center;
      gap: 12px;
      position: relative;
      cursor: pointer;

      input {
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        position: absolute;
      }
      .radio {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1.2px solid #e1e1e1;
        transition: 0.3s all ease;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 12px;
          height: 12px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #4060aa;
          border-radius: 50%;
          opacity: 0;
          transition: 0.3s all ease;
        }
      }
      &:has(input:checked) {
        .radio {
          border-color: #4060aa;

          &::after {
            opacity: 1;
          }
        }
      }
      .answer-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }
  &-next {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #fff;
    padding: 24px 32px;
    border-radius: 20px;
    background: #4060aa;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    background-color: #f8f8f8;
    border-radius: 30px;

    &-subtrac {
      display: none;
    }
    &-step {
      position: unset;
      margin: 0 0 24px 0;
    }
  }
  @media (max-width: 992px) {
    margin: 0;
  }
  @media (max-width: 768px) {
    padding: 40px;

    &-row {
      flex-direction: column;
      align-items: stretch;
      gap: 16px;
    }
  }
  @media (max-width: 576px) {
    padding: 32px;

    &-step {
      margin: 0 0 16px 0;
    }
    &-desc {
      margin: 0 0 16px 0;
    }
    &-progress {
      margin: 0 0 16px 0;
    }
    &-title {
      font-size: 21px;
      margin: 0 0 16px 0;
    }
    .answer-text {
      font-size: 14px;
    }
  }
}

.contact {
  padding: 90px 0 145px 0;
  border-radius: 60px 60px 0 0;
  background: #f8f8f8;

  &-row {
    display: flex;
    align-items: flex-start;
    gap: 90px;
  }
  &-left {
    width: calc(53.52% - 45px);

    .section_title {
      display: none;
    }
  }
  .map {
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 0 0 25px 0;

    .map-subtrac {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
    }

    iframe {
      width: 100%;
    }
  }
  &-swiper {
    .swiper-slide {
      display: flex;
      img {
        max-width: 100%;
      }
    }
  }
  .swiper-nav {
    margin: 25px 0 0 0;
  }

  &-right {
    padding: 90px 0 0 0;
  }
  .section_title {
    margin: 0 0 60px 0;
  }
  &-items {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  &-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(50% - 8px);
  }
  &-item {
    border-radius: 20px;
    background: rgba(239, 239, 239, 0.45);
    backdrop-filter: blur(22px);
    padding: 24px;

    display: flex;
    align-items: flex-start;
    gap: 12px;
    &:has(.contact-tel) {
      flex-direction: column;
      background: #e9efff;
    }
  }
  &-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #000;
  }
  &-text-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #000;
    margin: 6px 0 0 0;
  }
  .contact-tel {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    color: #000;
  }
  .btn-get {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #fff;
    border-radius: 20px;
    background: #4060aa;
    display: inline-flex;
    width: 100%;
    padding: 24px 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1400px) {
    &-row {
      gap: 32px;
    }
    &-right {
      padding: 30px 0 0 0;
    }
    .section_title {
      margin: 0 0 40px 0;
    }
    .contact-tel {
      font-size: 20px;
    }
  }
  @media (max-width: 1200px) {
    &-left {
      width: calc(49% - 45px);
    }
    .map {
      iframe {
        height: 600px;
      }
    }
  }
  @media (max-width: 992px) {
    padding: 60px 0 115px 0;

    &-row {
      flex-direction: column;
    }
    &-left {
      width: 100%;
      .section_title {
        display: block;
        margin: 0 0 32px 0;
      }
    }
    &-right {
      padding: 0;
      .section_title {
        display: none;
      }
    }
    .map {
      margin: 0 0 32px 0;

      iframe {
        height: 310px;
      }
    }
    .swiper-nav {
      margin: 32px 0 0 0;
    //   @media (max-width: 768px) {
    //     margin-top: 16px;
    //   }
    }
    .contact-tel {
      font-size: 24px;
    }
  }
  @media (max-width: 768px) {
    border-radius: 32px;

    &-items {
      flex-direction: column;
    }
    &-col {
      width: 100%;
    }
    .section_title {
      span {
        display: block;
        text-align: right;
      }
    }
  }
  @media (max-width: 576px) {
    padding: 32px 0;
  }
}

.footer {
  padding: 90px 0;
  border-radius: 60px 60px 0 0;
  margin: -55px 0 0 0;
  background: #fff;

  &-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
  }
  &-logo {
    display: flex;
    width: 198px;

    img {
      max-width: 100%;
    }
  }
  &-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  &-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #000;
    text-decoration: underline;
  }
  &-remind {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  .remind {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #000;
    text-transform: lowercase;
  }
  &-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
  }
  &-phone {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #000;
    text-decoration: none;
  }
  .work-time {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #000;
  }
  .call-back {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #fff;
    border-radius: 20px;
    background: #4060aa;
    padding: 18px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .devalopers {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    span {
      display: flex;
      width: 28px;
      height: 1px;
      background: #000;
    }

    &-text {
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
      color: #000;
    }
  }

  @media (max-width: 992px) {
    padding: 60px 0;
    &-row {
      flex-direction: column;
      gap: 32px;
    }
    &-right {
      align-items: flex-start;
    }
    &-top {
      align-items: flex-start;
    }
  }
  @media (max-width: 576px) {
    padding: 32px 0;
    border-radius: 0;
    margin: 0;

    &-left {
      gap: 16px;
    }
    &-link {
      font-size: 14px;
    }
    .remind {
      font-size: 12px;
    }
    &-top {
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }
    .devalopers {
      gap: 8px;
      img {
        width: 142px;
      }
      &-text {
        font-size: 13px;
      }
    }
  }
}
