@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: Manrope;
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  @media (max-width: 1300px) {
    padding: 0 16px;
  }
}
.lc_row {
  display: flex;
  flex-wrap: wrap;
}
.white_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 0 24px;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  width: max-content;
  cursor: pointer;
}

.section_title {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  @media (max-width: 1024px) {
    font-size: 40px;
  }
  span {
    color: #4060aa;
  }
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkmark {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

/* ✅ check belgisi */
.checkmark::after {
  content: "";
  width: 8px;
  height: 16px;
  border-right: 2px solid #4060aa;
  border-bottom: 2px solid #4060aa;
  transform: rotate(45deg) scale(0);
  transform-origin: center;
  transition: transform 0.2s ease;
}

/* bosilganda belgini ko‘rsatamiz */
.custom-checkbox input:checked + .checkmark::after {
  transform: rotate(45deg) scale(1);
}

.final_calculation {
  padding: 36px;
  border-radius: 20px;
  background: #f8f8f8;
  max-width: 485px;
  width: 100%;
  @media (max-width: 556px) {
    padding: 24px;
  }
  .item_title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 60px;
    @media (max-width: 556px) {
      margin-bottom: 24px;
      font-size: 21px;
    }
  }
  input {
    width: 100%;
    padding-bottom: 24px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    outline: none;
    margin-bottom: 24px;
    &::placeholder {
      color: #dedede;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }
  .blue_btn {
    padding: 24px 32px;
    border-radius: 20px;
    background: #4060aa;
    color: #fff;
    height: 70px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    margin-bottom: 24px;
    width: 100%;
    cursor: pointer;
    max-width: 239.058px;
    @media (max-width: 556px) {
      max-width: 100%;
    }
  }
  .politics {
    display: flex;
    align-items: center;
    gap: 0 18px;
    span {
      max-width: 320px;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;

      a {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }
    }
  }
}
.show-more {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #000;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: #fff;
  backdrop-filter: blur(22px);
  padding: 24px;
}

.swiper-nav {
  display: flex;
  gap: 12px;
  z-index: 2;
}
.swiper-prev,
.swiper-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

@media (max-width: 576px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
